* {
    box-sizing: border-box;
}


body{
    background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
display:flex;
margin: 0;
justify-content:center;

min-height:100vh;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
    width:30%;
}

.container{
background-color: white;
width:400px;
border:none;
border-radius:3px;
box-shadow: 0 0 5px rgba(0,0,0,0.8);
overflow:hidden;


}

.fav-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color:#DBE6FF;
    text-align:center;
    
}


header{
    padding:1rem;
    display:flex;
    justify-content:end;
    align-items:center;
    height:50px;
}


header input{
    border:none;
    background-color:#eef;
    padding: 0.3rem;
    border-radius:5px;

}

header button{
    border:none;
    background-color:transparent;
    padding:1rem;
    cursor:pointer;
    
}


.fav-meals{
    display:flex;
    padding:0;
    flex-direction:row;
    justify-content:center;
    margin:25px;
    height:100px;
    gap:1rem;
    text-align:center;
    width:90%;
    
   




}
.fav-meals li img{
    width:60px;
    border-radius:50%;
    object-fit:cover;
    height:60px;
    display:flex;

}

.fav-meals li span{
    font-size:1rem;
}

.random-meal{
   text-align:center;
   

    
}


.random-meal img{
    display:flex;
    justify-content:center;
    align-items:center;
    width:400px;
    
    margin-top:10px;
    height:250px;
}

.meal{
    position:relative;
    top:50px;
    margin:1.5rem;
    box-shadow: 0 0 10px rgba(0,0,12)
}


.meal-header .random{
position:absolute;
background-color:#fff;
box-shadow: 0 0 5px rgb(27, 24, 24);
right:15rem;
top:1rem;
border:2px solid transparent;
border-radius: 3px;
background-color:#eee;

}
.meal-header img{
    object-fit:cover;
   
    
}


.meal-body{
    
    display:flex;
    align-items:center;
    justify-content:space-between;
    

}
.meal-body .heart{
    width:40px;
    background-color:white;
    height:62px;
    border:2px solid grey;
    cursor:pointer;
    color:rgb(77, 74, 74);
    
}
.meal-body .heart.active{
    color:purple;
}








li span{
    text-align:center;
    margin-bottom: 5rem;
}




li{
    list-style-type: none;
}
